<!doctype html>
<html>
<head>
    <title>Process Web Page</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body background="/static/background.jpg" style="font-family: Georgia;">
        <div id="s">
            <form method="POST" action=".">
                <input type="text" class="form-control" name="url" placeholder="Enter Url">
                <button type="submit" class="btn" id="ProB"><i class="fa fa-search" style="font-size:24px"></i><span>Process</span></button>
            </form>
        </div>
        {% if words %}
            <div id="Result">
                <div id="table">
                    <table id="example" class="display table">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <th>Frequency</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in words %}

                                <tr style="color:{% if data[0] == 'Noun' %}#524646;{% else %}#5891f2;{% end %}">
                                    <td><font size="{{ data[2] * 0.3 }}">{{ data[1] }}</font></td>
                                    <td><font size="{{ data[2] * 0.3 }}">{{ data[2] }}</font></td>
                                    <td><font size="{{ data[2] * 0.3 }}">{{ data[0] }}</font></td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="help">
                <h3>Hint!</h3>
                <p id="rbox">Noun</p><p id="bbox">Verb</p>
            </div>
        {% end %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "order": [[ 1, "desc" ]]
            });
        } );
    </script>
</body>
</html>