<!doctype html>
<html>
<head>
    <title>Process Web Page</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body background="/static/background.jpg" style="font-family: Georgia;">
        <div id="s">
            <form method="POST" action=".">
                <input type="text" class="form-control input-lg" name="url" placeholder="{% if data.get('error', None) %}{{ data['error']['msg'] }}{% else %}Enter a valid URL{% end %}">
                <button type="submit" class="btn" id="ProB"><i class="fa fa-search" style="font-size:24px"></i><span>Process</span></button>
            </form>
        </div>
        {% if data.get('words', []) %}
            <div id="Result">
                <div id="table">
                    <table id="example" class="display table">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <th>Frequency</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data['words'] %}
                                <tr style="color:{% if item[0] == 'Noun' %}#524646;{% else %}#5891f2;{% end %}">
                                    <td><font size="{{ item[2] * 0.3 }}">{{ item[1] }}</font></td>
                                    <td><font size="{{ item[2] * 0.3 }}">{{ item[2] }}</font></td>
                                    <td><font size="{{ item[2] * 0.3 }}">{{ item[0] }}</font></td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="help">
                {% if data['result_url'] == 'Positive' %}
                    Result of URL: <div id="stat-g"><p>Positive</p></div>
                {% else %}
                    Result of URL: <div id="stat-r"><p>Negative</p></div>
                {% end %}
                <h3>Hint!</h3>
                <p id="rbox">Noun</p><p id="bbox">Verb</p>
            </div>
        {% end %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "order": [[ 1, "desc" ]]
            });
        });
    </script>
</body>
</html>